@import "./assets/scss/index";

header {
  height: 80px;
  font-size: 3rem;
  font-weight: 700;
  @include F();
  background: #eee;
  border-bottom: 1px solid #333;
}

main {
  @include F();
  flex-wrap: wrap;
}
