// - Global Mixins
@mixin F($j: center, $a: center, $d: row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin P($t: 50%, $r: 50%, $tx: 50%, $ty: -50%) {
  position: absolute !important;
  top: $t !important;
  right: $r !important;
  transform: translate($tx, $ty) !important;
}
